# Ignore build folder
build/

# Ignore all dot folders, with below exceptions
.*/

# VSCode
.vscode

# MacOS file
.DS_Store

# Local build artifacts
*.o
*.obj
*.a
*.lib
*.dll
*.exe
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
.ninja_deps
.ninja_log
compile_commands.json
Makefile
CMakeCache.txt
lvglConfig.cmake
lvglConfigDebug.cmake

